<main class="content">
  <ng-container *ngIf="currentQuiz.questions.length > 0">
    <h2 class="text-center margin">
      {{ currentQuiz.categoryName }}
    </h2>

    <div class="flex">
      <div>
        Timer: {{ timerDisplay }}
      </div>

      <button mat-raised-button (click)="cancel()">
        Cancel quiz
      </button>
    </div>
    <div class="flex">
      <mat-card class="card">
        <mat-card-actions class="end">
          {{ currentQuestionIndex + 1 }} / 10
        </mat-card-actions>
        <mat-card-header class="text-center">
          <mat-card-subtitle [innerHTML]='currentQuiz.questions[currentQuestionIndex].question'>

          </mat-card-subtitle>
        </mat-card-header>
        <form [formGroup]="quizForm" class="text-center margin">
          <mat-radio-group formControlName="answer" >
            <mat-radio-button value="True">Yes</mat-radio-button>
            <mat-radio-button value="False">No</mat-radio-button>
          </mat-radio-group>
        </form>
        <!-- <mat-radio-group [formControl]="answer" >
          <mat-radio-button value="True">Yes</mat-radio-button>
          <mat-radio-button value="False">No</mat-radio-button>
        </mat-radio-group> -->
          <mat-card-actions class="end">

            <ng-container *ngIf="isLastQuestion">
              <button mat-button color="primary" (click)="finishQuiz()" [disabled]="quizForm.invalid">
                Finish
              </button>
            </ng-container>

            <ng-container *ngIf="!isLastQuestion">
              <button mat-button color="primary" (click)="nextQuestion()" [disabled]="quizForm.invalid">
                Next
              </button>
            </ng-container>

          </mat-card-actions>

      </mat-card>
    </div>
  </ng-container>

  <ng-container *ngIf="!currentQuiz.questions.length">
    <h2 class="text-center margin">
      In the category {{ currentQuiz.categoryName }}, there are no available questions. Please choose
      <a href="#" (click)="cancel()">another</a> quiz.
    </h2>
  </ng-container>

</main>
