.end {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2%;
}

.text-center {
  text-align: center;
}

.margin {
  margin: 10px;
}

.statistic-label {
  font-size: 14px;
  font-weight: 500;
  margin-right: 2%;
}
.statistic-item:not(:last-child) {
  margin-bottom: 2%;
}
