.content {
  padding: 20px;
  box-sizing: border-box;
}
.first-link {
  margin-left: 10px;
}
.link {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 1% 3%;
  display: inline-block;
}
.active {
  border: #ffffff 1px solid;
  border-radius: 7%;
}

.spacer {
  flex: 1 1 auto;
}
